<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>MyAppointments.vue - Lr4</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="..">Lr4</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href=".." class="nav-link">Task description</a>
                            </li>
                            <li class="navitem">
                                <a href="../page1/" class="nav-link">MainPage.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page2/" class="nav-link">ProfilePatient.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page3/" class="nav-link">DoctorList.vue</a>
                            </li>
                            <li class="navitem active">
                                <a href="./" class="nav-link">MyAppointments.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page5/" class="nav-link">ListAppointment.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page6/" class="nav-link">TheWelcome.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page7/" class="nav-link">EnterPatirnt.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page8/" class="nav-link">RegisterPatient.vue</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../page3/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../page5/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#myappointmentsvue" class="nav-link">MyAppointments.vue</a>
              <ul class="nav flex-column">
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="myappointmentsvue">MyAppointments.vue</h1>
<p><img alt="" src="../images/7.png" />
<img alt="" src="../images/8.png" /></p>
<pre><code>&lt;template&gt;
&lt;div class=&quot;appointment-form-container&quot;&gt;
  &lt;h2&gt;Запись на прием&lt;/h2&gt;
  &lt;form @submit.prevent=&quot;getProfile&quot; class=&quot;appointment-form&quot;&gt;

    &lt;label for=&quot;date_time&quot;&gt;Дата и время приема:&lt;/label&gt;&lt;br&gt;
    &lt;input type=&quot;datetime-local&quot; id=&quot;date_time&quot; v-model=&quot;appointmentData.date_time&quot;&gt;&lt;br&gt;

    &lt;label for=&quot;diagnosis&quot;&gt;Диагноз, заполняется врачом после приема:&lt;/label&gt;&lt;br&gt;
    &lt;input type=&quot;text&quot; id=&quot;diagnosis&quot; v-model=&quot;appointmentData.diagnosis&quot;&gt;&lt;br&gt;

    &lt;label for=&quot;current_condition&quot;&gt;Симптомы:&lt;/label&gt;&lt;br&gt;
    &lt;input type=&quot;text&quot; id=&quot;current_condition&quot; v-model=&quot;appointmentData.current_condition&quot;&gt;&lt;br&gt;

    &lt;label for=&quot;treatment_recommendations&quot;&gt;Рекомендации, заполняются врачом после приема:&lt;/label&gt;&lt;br&gt;
    &lt;input type=&quot;text&quot; id=&quot;treatment_recommendations&quot; v-model=&quot;appointmentData.treatment_recommendations&quot;&gt;&lt;br&gt;

    &lt;label for=&quot;doctor&quot;&gt;Врач:&lt;/label&gt;&lt;br&gt;
      &lt;select v-model=&quot;appointmentData.doctor&quot;&gt;
        &lt;option v-for=&quot;doctor in doctors&quot; :key=&quot;doctor.id&quot; :value=&quot;doctor.id&quot;&gt;{{ doctor.last_name }}&lt;/option&gt;
      &lt;/select&gt;&lt;br&gt;

      &lt;label for=&quot;patient&quot;&gt;Пациент:&lt;/label&gt;&lt;br&gt;
      &lt;select v-model=&quot;appointmentData.patient&quot;&gt;
        &lt;option v-for=&quot;patient in patients&quot; :key=&quot;patient.id&quot; :value=&quot;patient.id&quot;&gt;{{ patient.last_name }}&lt;/option&gt;
      &lt;/select&gt;&lt;br&gt;

      &lt;label for=&quot;cabinet&quot;&gt;Кабинет:&lt;/label&gt;&lt;br&gt;
      &lt;select v-model=&quot;appointmentData.cabinet&quot;&gt;
        &lt;option v-for=&quot;cabinet in cabinets&quot; :key=&quot;cabinet.id&quot; :value=&quot;cabinet.id&quot;&gt;{{ cabinet.name }}&lt;/option&gt;
      &lt;/select&gt;&lt;br&gt;

    &lt;input type=&quot;submit&quot; value=&quot;Записаться&quot;&gt;

  &lt;/form&gt;

  &lt;button @click=&quot;goto&quot;&gt;Посмотреть мои записи&lt;/button&gt;
&lt;/div&gt;

&lt;/template&gt;

&lt;style scoped&gt;
.appointment-form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.appointment-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.appointment-form input[type=&quot;text&quot;],
.appointment-form input[type=&quot;datetime-local&quot;],
.appointment-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.appointment-form input[type=&quot;submit&quot;] {
  width: 100%;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.appointment-form input[type=&quot;submit&quot;]:hover {
  background-color: #45a049;
}
&lt;/style&gt;


&lt;script&gt;
import router from '@/router';
import axios from 'axios';

export default {
  data() {
    return {
        doctors: [], 
        patients: [], 
        cabinets: [],
        token: null,
        appointmentData: {
          date_time: '',
          diagnosis: '',
          current_condition: '',
          treatment_recommendations: '',
          doctor: '',
          patient: '',
          cabinet: '',
      },
    };
  },
  mounted() {
    this.loginAndGetToken().then(() =&gt; {
      if (this.token) {
        this.getDoctors();
        this.getPatients();
        this.getCabinets();
      } else {
        console.error('Токен не получен. Проверьте учетные данные и повторите попытку.');
      }
    });
},
  methods: {
    async loginAndGetToken() {
  try {
    const userData = JSON.parse(localStorage.getItem('userData'));
    if (!userData || !userData.username || !userData.password) {
      console.error('Данные пользователя не найдены в localStorage.');
      return;
    }
    console.log('Отправка данных для аутентификации:', userData); 

    const response = await axios.post('http://127.0.0.1:8000/auth/token/login/', {
      username: userData.username,
      password: userData.password,
    });

    if (response.data &amp;&amp; response.data.auth_token) {
      this.token = response.data.auth_token;
    } else {
      console.error('Токен не найден в ответе сервера:', response.data);
    }
  } catch (error) {
    console.error('Ошибка при получении токена:', error.response ? error.response.data : error);
  }

},

    getDoctors() {
    axios.get('http://127.0.0.1:8000/api/doctors/', {
      headers: {
        Authorization: `Token ${this.token}`
      }
    })
    .then(response =&gt; {
      this.doctors = response.data;
    })
    .catch(error =&gt; {
      console.error('Ошибка при получении списка врачей:', error);
    });
  },
  getPatients() {
    axios.get('http://127.0.0.1:8000/api/patients/', {
      headers: {
        Authorization: `Token ${this.token}`
      }
    })
    .then(response =&gt; {
      this.patients = response.data;
    })
    .catch(error =&gt; {
      console.error('Ошибка при получении списка пациентов:', error);
    });
  },
  getCabinets() {
    axios.get('http://127.0.0.1:8000/api/cabinets/', {
      headers: {
        Authorization: `Token ${this.token}`
      }
    })
    .then(response =&gt; {
      this.cabinets = response.data;
    })
    .catch(error =&gt; {
      console.error('Ошибка при получении списка кабинетов:', error);
    });
  },
    getProfile() {
      axios.get('http://127.0.0.1:8000/api/appointments/', {
        headers: {
          Authorization: `Token ${this.token}`,
        }
      })
      .then(response =&gt; {
        this.date_time = response.data.date_time;
        this.diagnosis = response.data.diagnosis;
        this.current_condition = response.data.current_condition;
        this.treatment_recommendations = response.data.treatment_recommendations;
        this.doctor = response.data.doctor;
        this.patient = response.data.patient;
        this.cabinet = response.data.cabinet;
        this.saveProfile();
        router.push('/registerdoctor');

      })
      .catch(error =&gt; {
        console.error('Ошибка:', error);
      });
    },
    saveProfile() {
    console.log('Отправляемые данные:', this.appointmentData); 
    axios.post('http://127.0.0.1:8000/api/appointments/', this.appointmentData, { 
    headers: {
      Authorization: `Token ${this.token}` 
    }
  })
  .then(response =&gt; {
    this.date_time = response.data.date_time;
    this.diagnosis = response.data.diagnosis;
    this.current_condition = response.data.current_condition;
    this.treatment_recommendations = response.data.treatment_recommendations;
    this.doctor = response.doctor;
    this.patient = response.data.patient;
    this.cabinet = response.data.cabinet;
  })
  .catch(error =&gt; {
    console.error('Ошибка:', error);
  })

    },
  goto(){
    router.push('/registerdoctor');
  },
}
}

&lt;/script&gt;
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script>
            var base_url = "..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../js/base.js"></script>
        <script src="../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
