<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>ProfilePatient.vue - Lr4</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="..">Lr4</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href=".." class="nav-link">Task description</a>
                            </li>
                            <li class="navitem">
                                <a href="../page1/" class="nav-link">MainPage.vue</a>
                            </li>
                            <li class="navitem active">
                                <a href="./" class="nav-link">ProfilePatient.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page3/" class="nav-link">DoctorList.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page4/" class="nav-link">MyAppointments.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page5/" class="nav-link">ListAppointment.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page6/" class="nav-link">TheWelcome.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page7/" class="nav-link">EnterPatirnt.vue</a>
                            </li>
                            <li class="navitem">
                                <a href="../page8/" class="nav-link">RegisterPatient.vue</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../page1/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../page3/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#profilepatientvue" class="nav-link">ProfilePatient.vue</a>
              <ul class="nav flex-column">
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="profilepatientvue">ProfilePatient.vue</h1>
<p><img alt="" src="../images/1.png" />
<img alt="" src="../images/2.png" />
<img alt="" src="../images/15.png" /></p>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;profile&quot;&gt;
    &lt;h1&gt;Профиль пациента&lt;/h1&gt;
    &lt;div v-if=&quot;showProfileForm&quot;&gt;
      &lt;div class=&quot;profile-details&quot;&gt;
        &lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt; {{ email }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Имя пользователя:&lt;/strong&gt; {{ username }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Пароль:&lt;/strong&gt; {{ password }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Имя:&lt;/strong&gt; {{ firstName }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Фамилия:&lt;/strong&gt; {{ lastName }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Отчество:&lt;/strong&gt; {{ patronymic }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Дата рождения:&lt;/strong&gt; {{ birthDate }}&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Номер медицинской карты:&lt;/strong&gt; {{ medicalCardNumber }}&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;



    &lt;div v-else&gt;

    &lt;form @submit.prevent=&quot;getToken&quot;&gt;


      &lt;label for=&quot;first_name&quot;&gt;Имя:&lt;/label&gt;
      &lt;input type=&quot;text&quot; id=&quot;first_name&quot; v-model=&quot;firstName&quot;&gt;

      &lt;label for=&quot;last_name&quot;&gt;Фамилия:&lt;/label&gt;
      &lt;input type=&quot;text&quot; id=&quot;last_name&quot; v-model=&quot;lastName&quot;&gt;

      &lt;label for=&quot;middle_name&quot;&gt;Отчество:&lt;/label&gt;
      &lt;input type=&quot;text&quot; id=&quot;middle_name&quot; v-model=&quot;patronymic&quot;&gt;

      &lt;label for=&quot;date_of_birth&quot;&gt;Дата рождения:&lt;/label&gt;
      &lt;input type=&quot;date&quot; id=&quot;date_of_birth&quot; v-model=&quot;birthDate&quot;&gt;

      &lt;label for=&quot;medical_card_number&quot;&gt;Номер медицинской карты:&lt;/label&gt;
      &lt;input type=&quot;text&quot; id=&quot;medical_card_number&quot; v-model=&quot;medicalCardNumber&quot;&gt;

      &lt;button type=&quot;submit&quot;&gt;Сохранить&lt;/button&gt;


    &lt;/form&gt;
  &lt;/div&gt;
  &lt;button type=&quot;submit&quot; @click=&quot;editProfile()&quot;&gt;Отредактировать&lt;/button&gt;
  &lt;/div&gt;
  &lt;button type=&quot;button&quot; @click=&quot;logout()&quot; class=&quot;logout-button&quot;&gt;Выйти из профиля&lt;/button&gt;
&lt;/template&gt;

&lt;style scoped&gt;
.profile {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.profile-details, form {
  margin-top: 20px;
}

.profile-details p, form label {
  margin-bottom: 10px;
  color: #333;
}

strong {
  font-weight: bold;
}

button {
  margin-top: 30px; 
}


input[type=&quot;text&quot;],
input[type=&quot;date&quot;] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.logout-button {
  width: 200px;
  padding: 10px 15px;
  background-color: #f44336;
  margin-left: 650px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 0px;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #d32f2f;
}


&lt;/style&gt;

&lt;script&gt;
import axios from 'axios';
import router from '@/router';

export default {
  data() {
    return {
      email: '',
      username: '',
      password: '',
      firstName: '',
      lastName: '',
      patronymic: '',
      birthDate: '',
      medicalCardNumber: '',
      showProfileForm: false, 
    }
  },
  mounted() {
    const userData = JSON.parse(localStorage.getItem('userData'));
    if (userData) {
      this.id = userData.id;
      this.email = userData.email;
      this.username = userData.username;
      this.password = userData.password;
      this.firstName = userData.firstName; 
      this.lastName = userData.lastName;
      this.patronymic = userData.patronymic;
      this.birthDate = userData.birthDate;
      this.medicalCardNumber = userData.medicalCardNumber;
    }
  },
  methods: {
    getProfile() {
      const token = localStorage.getItem('token');
      axios.get('http://127.0.0.1:8000/api/patients/', {
        headers: {
          Authorization: `Token ${token}`,
        }
      })
      .then(response =&gt; {
        this.id = response.data.id;
        this.firstName = response.data.first_name;
        this.lastName = response.data.last_name;
        this.patronymic = response.data.middle_name;
        this.birthDate = response.data.date_of_birth;
        this.medicalCardNumber = response.data.medical_card_number;
        this.showProfileForm = true;

      })
      .catch(error =&gt; {
        console.error('Ошибка:', error);
      });
    },
    getToken() {
      axios.post('http://127.0.0.1:8000/auth/token/login', {
        password: this.password,
        username: this.username

      })
      .then(response =&gt; {
        const token = response.data.auth_token;
        this.saveToken(token);
        this.getProfile();
        this.saveProfile();
      })
      .catch(error =&gt; {
        console.error('Ошибка:', error);
      });
    },
    saveToken(token) {
        localStorage.setItem('token', token);
    },
    toggleEditForm() {
    this.editProfile();
    this.showProfileForm = !this.showProfileForm;
  },
    saveProfile() {
    const token = localStorage.getItem('token');
    axios.post('http://127.0.0.1:8000/api/patients/', {
    first_name: this.firstName,
    last_name: this.lastName,
    middle_name: this.patronymic,
    date_of_birth: this.birthDate,
    medical_card_number: this.medicalCardNumber
  }, {
    headers: {
      Authorization: `Token ${token}` 
    }
  })
  .then(response =&gt; {
    this.id = response.data.id;
    this.firstName = response.data.first_name;
    this.lastName = response.data.last_name;
    this.patronymic = response.data.middle_name;
    this.birthDate = response.data.date_of_birth;
    this.medicalCardNumber = response.data.medical_card_number;

    localStorage.setItem('userData', JSON.stringify({
        id: this.id,
        email: this.email,
        username: this.username,
        password: this.password,
        firstName: this.firstName, 
        lastName: this.lastName,
        patronymic: this.patronymic,
        birthDate: this.birthDate,
        medicalCardNumber: this.medicalCardNumber
      }));
  })
  .catch(error =&gt; {
    console.error('Ошибка:', error);
  })

    },

editProfile() {
  const token = localStorage.getItem('token');
  const userData = JSON.parse(localStorage.getItem('userData'));
  const id = userData.id;
  axios.put(`http://127.0.0.1:8000/api/patients/${id}/`, {
        first_name: this.firstName,
        last_name: this.lastName,
        middle_name: this.patronymic,
        date_of_birth: this.birthDate,
        medical_card_number: this.medicalCardNumber
      }, {
        headers: {
          Authorization: `Token ${token}`,
        }
      })
      .then(response =&gt; {
        this.firstName = response.data.first_name;
        this.lastName = response.data.last_name;
        this.patronymic = response.data.middle_name;
        this.birthDate = response.data.date_of_birth;
        this.medicalCardNumber = response.data.medical_card_number;
      })
      .catch(error =&gt; {
        console.error('Ошибка:', error);
      })
  },

  logout() {
      localStorage.removeItem('token');
      localStorage.removeItem('userData');

      this.email = '';
      this.username = '';
      this.password = '';
      this.firstName = '';
      this.lastName = '';
      this.patronymic = '';
      this.birthDate = '';
      this.medicalCardNumber = '';
      this.showProfileForm = false;
      router.push('/home');
    },
}
}

&lt;/script&gt;
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script>
            var base_url = "..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../js/base.js"></script>
        <script src="../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
